* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}


html {
  background-color: tan;
}
.nav-link, .links {
  text-decoration: none;
  color: green;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  background-color: white;
}

li {
  list-style: none;
}

.links {
  font-size: 2rem;
  color: green;
}
.nav-link:active {
  color: white;
}

img, video {
  display: block;
  margin: auto;
  width: 50%;
}

p {
  text-align: center;
  font-size: 2rem;
  color: green;
  padding: 1rem;
}

h1 {
  padding-top: 5rem;
}

h1, h3 {
  color: darkred;
  font-size: 2rem;
  text-align: center;
}

h3 {
  padding: 1rem;
}

header {
  top: 0;
  width: 100%;
}

#nav-bar {
  position: fixed;
  width: 100%;
}


h1, h3, form, footer {
  text-align: center;
}

#header-img {
  width: 10%;
  display: block;
  margin: auto;
}

#menu {
  padding: 1rem;
}
